<div class="form-group">
    <label for="inputSearch" class="control-label col-xs-2">Search</label>
    <div class="col-xs-6">
        <input id="inputSearch" type="text" ng-model="$parent.searchString" ng-change="$parent.searchChange()" ng-model-options="{debounce: 1000}" class="form-control" placeholder="Enter a least 3 letters to start search..." />
    </div>
    <div class="col-xs-4">
        <input type="radio" ng-model="$parent.searchType" ng-change="$parent.searchChange()" value="any"><label class="control-label">Any</label>
        <input type="radio" ng-model="$parent.searchType" ng-change="$parent.searchChange()" value="all" /><label class="control-label">All</label>
        <input type="radio" ng-model="$parent.searchType" ng-change="$parent.searchChange()" value="exact" /><label class="control-label">Exact</label>
    </div>
</div>

