<div class="row">
    <div class="col-sm-2">
        <label for="isShowPeriod">Show Period</label>
        <input id="isShowPeriod" type="checkbox" ng-checked="{{isShowPeriod}}" ng-model="isShowPeriod" />
    </div>
    <div class="col-sm-2">
        <label for="isShowDetails">Show Details</label>
        <input id="isShowDetails" type="checkbox" ng-checked="{{isShowDetails}}" ng-model="isShowDetails" />
    </div>
    <div class="col-sm-2">
        <label for="isShowTotal">Show Total</label>
        <input id="isShowTotal" type="checkbox" ng-checked="{{isShowTotal}}" ng-model="isShowTotal" />
    </div>
    <div class="col-sm-2">
        <label for="isShowVested">Show Vested Only</label>
        <input id="isShowVested" type="checkbox" ng-checked="{{isShowVested}}" ng-model="isShowVested" />
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th ng-show="isShowPeriod">Period</th>
                <th>Vest Date</th>
                <th ng-show="isShowDetails">Percent</th>
                <th ng-show="isShowDetails">Shares</th>
                <th ng-show="isShowTotal">Total Percent</th>
                <th ng-show="isShowTotal">Total Shares</th>
            </tr>
        </thead>
        <tr ng-repeat="vest in data.VestSchedule | orderBy:parseInt('vest.Order') | filter:isShowVested ? true : vest.IsVested">
            <td ng-show="isShowPeriod">{{vest.Order}}</td>
            <td>{{vest.VestDate | date:'shortDate'}}</td>
            <td ng-show="isShowDetails">{{vest.Percent | number:3}}%</td>
            <td ng-show="isShowDetails">{{vest.Shares | number:3}}</td>
            <td ng-show="isShowTotal">{{vest.TotalPercent | number:3}}</td>
            <td ng-show="isShowTotal">{{vest.TotalShares | number:3}}</td>
        </tr>
    </table>
</div>
