<div class="page-header">
<h1>Dashboard</h1>
</div>
<div class="container" ng-show="isAdmin()">
    <h3>Summary Information</h3>
    <form class="form-horizontal">
        <div class="row">
            <label class="col-sm-2 control-label">Departments</label>
            <div class="col-sm-4">
                <p class="form-control-static">{{data.Departments}}</p>
            </div>
            <label class="col-sm-2 control-label">Teams</label>
            <div class="col-sm-4">
                <p class="form-control-static">{{data.Teams}}</p>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 control-label">Schedules</label>
            <div class="col-sm-4">
                <p class="form-control-static">{{data.Schedules}}</p>
            </div>
            <label class="col-sm-2 control-label">Members</label>
            <div class="col-sm-4">
                <p class="form-control-static">{{data.Members}}</p>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 control-label">Total Goals</label>
            <div class="col-sm-4">
                <p class="form-control-static">{{data.TotalGoals}}</p>
            </div>
            <label class="col-sm-2 control-label">Current Goals</label>
            <div class="col-sm-4">
                <p class="form-control-static">{{data.CurrentGoals}}</p>
            </div>
        </div>
    </form>
    <p class="lead">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Department</th>
                        <th>Team Name</th>
                        <th>Current Goals</th>
                        <th>Total Goals</th>
                        <th>Members</th>
                    </tr>
                </thead>
                <tr ng-repeat="b in data.Breakdown">
                    <td>{{b.DEPARTMENT_NAME}}</a></td>
                    <td>{{b.TEAM_NAME}}</a></td>
                    <td>{{b.CURRENT_GOALS | number}}</a></td>
                    <td>{{b.TOTAL_GOALS | number}}</a></td>
                    <td>{{b.TOTAL_MEMBERS | number}}</a></td>
                </tr>
            </table>
        </div>
    </p>
    <h3>Relative Goal Counts</h3>
    <div id="company_counts"></div>
</div>
<div class="container" ng-show="isMember()">
    <h3>Upcoming Goals</h3>
    <p class="lead">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Due Date</th>
                        <th>Importance</th>
                        <th>Goal</th>
                        <th>Schedule</th>
                        <th>Team</th>
                        <th>Department</th>
                    </tr>
                </thead>
                <tr ng-repeat="goal in data.Goals">
                    <td>{{goal.DUE_DATE | date:'shortDate'}}</td>
                    <td>{{goal.IMPORTANCE}}</a></td>
                    <td>{{goal.GOAL}}</td>
                    <td>{{goal.SCHEDULE}}</a></td>
                    <td>{{goal.TEAM}}</a></td>
                    <td>{{goal.DEPARTMENT}}</a></td>
                </tr>
            </table>
        </div>
    </p>
    <h3>Ratings over time</h3>
    <div id="goals_over_time"></div>
</div>

<div class="form-horizontal" ng-include="dialogTemplate" />