<div class="page-header">
    <button id="id_busy_btn" ng-class="busyBtn" disabled>
        <span ng-class="working"></span>Vesting Schedules {{busyStatus}}
    </button>
    &nbsp;<a href="#/">Home</a>&nbsp;<a ng-repeat="b in breadCrumbs" ng-href="/{{b.url}}">{{b.name}}</a>&nbsp;
</div>
<p class="lead">
    <div class="table-responsive" ng-show="showSchedules">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Periods</th>
                </tr>
            </thead>
            <tr ng-repeat="schedule in listItems">
                <td><a href="javascript:void(0)" ng-click="loadSchedule(schedule.SCHEDULE_PK)">{{schedule.NAME}}</a></td>
                <td>{{schedule.PERIODS}}</td>
            </tr>
        </table>
    </div>
</p>

<form class="form-horizontal" ng-show="showSchedule" ng-submit="processForm()">
    <h3>Vesting Schedule</h3>
    <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Enter the Schedule Name" ng-model="data.Schedule.NAME">
    </div>
    <div class="table-responsive" ng-include="periodTemplate" />
    <button type="submit" class="btn btn-default">Submit</button>
    <a href="javascript:void(0)" ng-click="removeSchedule(data.Schedule.SCHEDULE_PK)">Remove</a>
</form>

<div class="form-horizontal" ng-include="dialogTemplate" />