<div class="page-header">
    <button id="id_busy_btn" ng-class="busyBtn" disabled>
        <span ng-class="working"></span>Stock Holder {{busyStatus}}
    </button>
    &nbsp;<a href="#/">Home</a>&nbsp;<a ng-repeat="b in breadCrumbs" ng-href="/{{b.url}}">{{b.name}}</a>&nbsp;
</div>
<p class="lead">
    <div class="form-horizontal" ng-include="searchTemplate" ng-show="showStockHolders" />
    <div class="table-responsive" ng-show="showSearchResults">
        <div class="table-responsive" ng-show="showStockHolders">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Participant Name</th>
                        <th>Stock Class</th>
                        <th>Shares</th>
                    </tr>
                </thead>
                <tr ng-repeat="sh in listItems">
                    <td><a href="javascript:void(0)" ng-click="loadStockHolder(sh.STOCK_HOLDER_PK)">{{sh.PARTICIPANT_NAME}}</a></td>
                    <td>{{sh.STOCK_CLASS_NAME}}</td>
                    <td>{{sh.SHARES}}</td>
                </tr>
            </table>
        </div>
    </div>
</p>

<form class="form-horizontal" ng-show="showStockHolder">
    <h3>Stock Holder</h3>
    <div class="form-group">
        <label class="control-label">Participant Name</label>
        <ui-select ng-model="participant.selected" theme="bootstrap">
            <ui-select-match placeholder="Select or search a participant in the list..." style="text-align: left;">{{$select.selected.NAME}}</ui-select-match>
            <ui-select-choices repeat="item in participants" refresh="refreshParticipants($select.search)">
                <span ng-bind-html="item.NAME | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="form-group">
        <label for="stockClassId">Stock Class</label>
        <select id="stockClassId" ng-model="data.StockHolder.STOCK_CLASS_FK" class="form-control">
            <option ng-repeat="sc in data.StockClasses" ng-selected="{{data.StockHolder.PLAN_FK == sc.STOCK_CLASS_PK}}" value="{{sc.STOCK_CLASS_PK}}">{{sc.NAME}}</option>
        </select>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <label for="idStockSale">Date of Sale</label>
            <input id="idStockSale" class="form-control" type="date" ng-model="data.StockHolder.DATE_OF_SALE" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <label for="idPrice">Price Per Share</label>
            <input id="idPrice" class="form-control" type="number" step="0.000001" ng-model="data.StockHolder.PRICE" />
        </div>
        <div class="col-sm-3">
            <label for="idShares">Shares</label>
            <input id="idShares" class="form-control" type="number" ng-model="data.StockHolder.SHARES" />
        </div>
    </div>

    <br />
    <div class="form-group">
        <button class="btn btn-default" ng-click="processForm()">Submit</button>
        <a href="javascript:void(0)" ng-click="removeStockHolder(data.StockHolder.STOCK_HOLDER_PK)">Remove</a>
    </div>
</form>

<div class="form-horizontal" ng-include="dialogTemplate" />
