<div class="page-header">
    <button id="id_busy_btn" ng-class="busyBtn" disabled>
        <span ng-class="working"></span>Goal {{busyStatus}}
    </button>
    &nbsp;<a href="#/">Home</a>&nbsp;<a ng-repeat="b in breadCrumbs" ng-href="/{{b.url}}">{{b.name}}</a>&nbsp;
</div>
<p class="lead">
    <div class="table-responsive" ng-show="showGoals">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Schedule</th>
                    <th>Due Date</th>
                    <th>Team</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tr ng-repeat="goal in listItems">
                <td><a href="javascript:void(0)" ng-click="loadGoal(goal.GOALSET_PK)">{{goal.SCHEDULE}}</a></td>
                <td>{{goal.DUE_DATE | date:'shortDate'}}</td>
                <td>{{goal.TEAM}}</a></td>
                <td>{{goal.DEPARTMENT}}</a></td>
            </tr>
        </table>
    </div>
</p>

<form class="form-horizontal" ng-show="showGoal">
    <h3>Goals</h3>

    <div class="row">
        <label class="col-sm-2 control-label">Schedule</label>
        <div class="col-sm-4">
            <p class="form-control-static">{{data.Goal.SCHEDULE}}</p>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-2 control-label">Start</label>
        <div class="col-sm-4">
            <p class="form-control-static">{{data.Goal.START_DATE | date:'fullDate'}}</p>
        </div>
        <label class="col-sm-2 control-label">End</label>
        <div class="col-sm-4">
            <p class="form-control-static">{{data.Goal.END_DATE | date:'fullDate'}}</p>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">Department</label>
        <div class="col-sm-4">
            <p class="form-control-static">{{data.Goal.DEPARTMENT}}</p>
        </div>
        <label class="col-sm-2 control-label">Team</label>
        <div class="col-sm-4">
            <p class="form-control-static">{{data.Goal.TEAM}}</p>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Importance</th>
                    <th>Goal</th>
                    <th>Rating</th>
                    <th>Manager Comments</th>
                    <th>Member Comments</th>
                    <th></th>
                </tr>
            </thead>
            <tr ng-repeat="goal in data.Goal.GOALS">
                <td>{{goal.IMPORTANCE}}</td>
                <td>{{goal.DESCRIPTION}}</td>
                <td>{{goal.RATING}}</td>
                <td>{{goal.MANAGER_COMMENTS}}</td>
                <td><input type="text" class="form-control" id="commentId" placeholder="Enter the member comment" ng-model="goal.MEMBER_COMMENTS"></td>
                <td><a href="javascript:void(0)" ng-click="updateMemberComment(goal.GOAL_PK, goal.MEMBER_COMMENTS)">Save Comment</a></td>
            </tr>
        </table>
    </div>
    <a href="javascript:void(0)" ng-click="showHistory()">Show History</a>
    <div class="table-responsive" ng-show="showGoalHistory">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>User</th>
                    <th>Action</th>
                    <th>Changes</th>
                </tr>
            </thead>
            <tr ng-repeat="history in goalHistory">
                <td>{{history.CREATED | date:'fullDate'}}</td>
                <td>{{history.USER_NAME}}</td>
                <td>{{history.ACTION}}</td>
                <td>{{history.CHANGED}}</td>
            </tr>
        </table>
    </div>
</form>

<div class="form-horizontal" ng-include="dialogTemplate" />