<div class="page-header">
    <button id="id_busy_btn" ng-class="busyBtn" disabled>
        <span ng-class="working"></span>Stock Summary {{busyStatus}}
    </button>
    &nbsp;<a href="#/">Home</a>&nbsp;<a ng-repeat="b in breadCrumbs" ng-href="/{{b.url}}">{{b.name}}</a>&nbsp;
</div>
<p class="lead">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Stock Class</th>
                    <th>Date</th>
                    <th>Price</th>
                    <th>Shares</th>
                </tr>
            </thead>
            <tr ng-repeat="share in listItems">
                <td>{{share.STOCK_CLASS_NAME}}</a></td>
                <td>{{share.DATE_OF_SALE | date:'shortDate'}}</td>
                <td>{{share.PRICE | number:2}}</td>
                <td>{{share.SHARES | number}}</td>
            </tr>
        </table>
    </div>
</p>

<div class="form-horizontal" ng-include="dialogTemplate" />