<div class="page-header">
    <button id="id_busy_btn" ng-class="busyBtn" disabled>
        <span ng-class="working"></span>Option Summary {{busyStatus}}
    </button>
    &nbsp;<a href="#/">Home</a>&nbsp;<a ng-repeat="b in breadCrumbs" ng-href="/{{b.url}}">{{b.name}}</a>&nbsp;
</div>
<p class="lead">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Plan Name</th>
                    <th>Granted</th>
                    <th>Vested</th>
                    <th>Vested Pct</th>
                    <th>Unvested</th>
                    <th>Unvested Pct</th>
                </tr>
            </thead>
            <tr ng-repeat="grant in listItems">
                <td>{{grant.PLAN}}</a></td>
                <td>{{grant.GRANTED | number}}</td>
                <td>{{grant.VESTED | number:3}}</td>
                <td>{{grant.VEST_PCT | number:3}}</td>
                <td>{{grant.UNVESTED | number:3}}</td>
                <td>{{grant.UNVEST_PCT | number:3}}</td>
            </tr>
        </table>
    </div>
</p>

<div class="form-horizontal" ng-include="dialogTemplate" />