<div class="page-header">
    <button id="id_busy_btn" ng-class="busyBtn" disabled>
        <span ng-class="working"></span>Goal {{busyStatus}}
    </button>
    &nbsp;<a href="#/">Home</a>&nbsp;<a ng-repeat="b in breadCrumbs" ng-href="/{{b.url}}">{{b.name}}</a>&nbsp;
</div>
<p class="lead">
    <div class="form-horizontal" ng-include="searchTemplate" ng-show="showGoals" />
    <div class="table-responsive" ng-show="showSearchResults">
        <div class="table-responsive" ng-show="showGoals">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Member Name</th>
                        <th>Team Name</th>
                        <th>Schedule</th>
                    </tr>
                </thead>
                <tr ng-repeat="goal in listItems">
                    <td><a href="javascript:void(0)" ng-click="loadGoal(goal.GOALSET_PK)">{{goal.MEMBER_NAME}}</a></td>
                    <td>{{goal.TEAM_NAME}}</td>
                    <td>{{goal.SCHEDULE_NAME}}</td>
                </tr>
            </table>
        </div>
    </div>
</p>

<form class="form-horizontal" ng-show="showGoal">
    <h3>Goal</h3>
    <div class="form-group">
        <label class="control-label">Member Name</label>
        <ui-select ng-model="member.selected" theme="bootstrap">
            <ui-select-match placeholder="Select or search a member in the list..." style="text-align: left;">{{$select.selected.NAME}}</ui-select-match>
            <ui-select-choices repeat="item in members" refresh="refreshMembers($select.search)">
                <span ng-bind-html="item.NAME | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="form-group">
        <label for="teamId">Team Name</label>
        <select id="teamId" ng-model="data.GoalSet.TEAM_FK" class="form-control">
            <option ng-repeat="team in data.Teams" ng-selected="{{data.GoalSet.TEAM_FK == team.TEAM_PK}}" value="{{team.TEAM_PK}}">{{team.NAME}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="scheduleId">Schedule</label>
        <select id="scheduleId" ng-model="data.GoalSet.SCHEDULE_FK" class="form-control">
            <option ng-repeat="sched in data.Schedules" ng-selected="{{data.GoalSet.SCHEDULE_FK == sched.SCHEDULE_PK}}" value="{{sched.SCHEDULE_PK}}">{{sched.NAME}}</option>
        </select>
    </div>

    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>Importance</th>
                <th>Description</th>
                <th>Rating</th>
                <th>Manager Comments</th>
                <th>Member Comments</th>
                <th></th>
            </tr>
        </thead>
        <tr ng-repeat="goal in data.Goals">
            <td>
                <select id="importanceId" ng-model="goal.IMPORTANCE_TYPE_FK" class="form-control">
                    <option ng-repeat="it in data.Importance" ng-selected="{{goal.IMPORTANCE_TYPE_FK == it.IMPORTANCE_TYPE_PK}}" value="{{it.IMPORTANCE_TYPE_PK}}">{{it.NAME}}</option>
                </select>
            </td>
            <td>
                <input type="text" class="form-control" id="goalId" placeholder="Enter the goal" ng-model="goal.DESCRIPTION">
            </td>
            <td>
                <select id="ratingId" ng-model="goal.RATING_TYPE_FK" class="form-control">
                    <option ng-repeat="rating in data.Ratings" ng-selected="{{goal.RATING_TYPE_FK == rating.RATING_TYPE_PK}}" value="{{rating.RATING_TYPE_PK}}">{{rating.NAME}}</option>
                </select>
            </td>
            <td>
                <input type="text" class="form-control" id="commentId" placeholder="Enter the manager comments" ng-model="goal.MANAGER_COMMENTS">
            </td>
            <td>
                {{goal.MEMBER_COMMENTS}}
            </td>
            <td><a href="javascript:void(0)" ng-click="delGoal(goal)">Remove</a></td>
        </tr>
        <tr><td colspan="6"><a href="javascript:void(0)" ng-click="addGoal()">Add Goal</a></td></tr>
    </table>
    <br />
    <div class="form-group">
        <button class="btn btn-default" ng-click="processForm()">Submit</button>
        <a href="javascript:void(0)" ng-click="removeGoals(data.GoalSet.GOALSET_PK)">Remove</a>
    </div>
</form>

<div class="form-horizontal" ng-include="dialogTemplate" />
